    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Reading Groups</h2>
                <p>We're reading the book to prepare for Adrienne to come and spend time with us in Boston. We are a group of <a href="https://www.gibranrivera.com/the-workshop/">evolutionary leaders</a> coming together to swarm together around a synergistic reading of Emergent Strategy. We hope you’ll join us. </p>
                <!-- <p class="text-left"><b>Here’s the plan:</b></p> -->
                <h3>Here’s the plan:</h3>
                <ol class="text-left">
                	<i>
                        <li>Buy the book before October 1.</li>
                        <li>Read on your own whenever it works for you on the schedule below.</li>
                    </i>
                </ol>
                <p>Share your thoughts each week. As you read, we’ll share reflections on <a href="https://docs.google.com/spreadsheets/d/1r3RFIiJwJRT8gLFOJh1cHotgxK-WL-0GV2JCuDvBXOw/edit?usp=sharing" target="_blank">this spreadsheet</a>. Some of us may even blog our reflections. Bottom line: just do the work of reflecting and get it out there. Feel free to reflect by yourself if that's what works best for you. But we hope people will self-organize reading groups. One group of us is meeting on alternating Wednesdays and Thursdays beginning on Oct 4.</p>
        </div>
    </section>