    <!-- Download Section -->
    <section id="buy" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Buy the book from a local book seller</h2>
                    <p>Order from <a href="https://frugalbookstore.net/" target="_new">Frugal Bookstore</a>, a community POC-owned bookstore located in Roxbury!</p>
                </div>
            </div>
        </div>
    </section>