    <!-- Contact Section -->
    <section id="schedule" class="container content-section text-center schedule-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Reading Schedule</h2>
                <ul class="text-left">
                    <li><b>Week of Oct 1</b>: intro</li>
                    <li><b>Week of Oct 8</b>: principles, elements, fractals</li>                    
                    <li><b>Week of Oct 15</b>: intentional adaptation, interdependence and decentralization</li>
                    <li><b>Week of Oct 22</b>: nonlinear and iterative, resilience</li>
                    <li><b>Week of Oct 29</b>: creating more possibilities, conversations</li>
                    <li><b>Week of Nov 5</b>: assess yourself, spells and practices for emergent strategy</li>
                    <li><b>Week of Nov 12</b>: tools for emergent strategy facilitation, outro</li>
                    <!-- <li><b>Week of Nov 19</b>: adrienne is in boston</li> -->
                </ul>
                
            </div>
        </div>
    </section>